.header {
  background-color: aqua;
  background-image: url(../assests/drive-in.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.title-div {
  display: flex;
  justify-content: center;
}

.title {
  margin: 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.tab {
  list-style: none;
}

.tab-link {
  text-decoration: none;
}
.fa-heart {
  color: red;
}
.fa-home {
  color: black;
}
