.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  justify-content: center;
}
.movie-poster {
  position: relative;
  padding: 30px;

  /* flex: 1; */
}
.movie-img {
  border-radius: 10px;
  cursor: pointer;
  z-index: 0;
}

.fa-trash-alt {
  color: rgb(245, 154, 80);
  font-size: 25px;

  top: 5px;
  right: 5px;
}

.trash {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
}

.movie-title {
  text-align: center;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movie-overview {
  /* flex: 1; */
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  color: white;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.para-overview {
  padding: 40px;
}

.close-button {
  padding: 7px;
  border-radius: 3px;
}
.watch-title {
  text-align: center;
  color: white;
}
