<ul class="movie-list">
  <li class="movie-poster" *ngFor="let movie of favoriteMovies;index as i">
    <p>{{ movie.title }}</p>
    <img class="movie-img" (click)="toggleOverview(i)" width="150" height="225" src="https://image.tmdb.org/t/p/w440_and_h660_face/{{
        movie.poster_path
      }}" />
    <div class="movie-overview" *ngIf="showIndex === i">
      <p class="para-overview">{{movie.overview}}</p>
      <button class="close-button" (click)="toggleOverview(i)">Close</button>
    </div>
    <button class="trash" (click)="deleteFav(i)"><i class="fas fa-trash-alt"></i></button>
  </li>
</ul>