<div>
  <form #searchTitle="ngForm" (ngSubmit)="titleSearch(searchTitle)">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" ngModel />
    <button>Submit</button>
  </form>
  
  <form #discoverForm="ngForm" (ngSubmit)="genreDrop(discoverForm)">
    <label for="rating">Rating</label>
    <input type="text" name="rating" id="rating" ngModel>
    <label for="year">Year</label>
    <input type="text" name="year" id="year" ngModel>

    <select name="genre" id="genre" ngModel>
      <option value="" selected>Genre</option>
      <option value="35">Action</option>
    </select>
    <button>Enter</button>
  </form>

  <app-movie-list [data]="data"></app-movie-list>

</div>