.forms-parent{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 6px;
}
.filter-header{
    text-align: center;
    margin: 0 0 15px 0;
    color: rgb(148, 121, 173);
}
.title-form{
    
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 4px;
    padding-bottom: 8px;
    border-radius: 10px;
}
.multi-form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
    align-items: center;
    padding-bottom: 8px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}

.label{
    padding-bottom: 8px;
    font-size: 1.2em;
}
.input{
    width: 300px;
}
.select{
    width:200px;
    margin-top:15px;
}
.form-button{
    margin-top: 6px;
    background-color: rgb(130, 198, 214);
    border-radius: 10px;
    padding: 6px;
}