/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 auto;
  font-family: "Baloo Thambi 2", cursive;
  /* background-image: linear-gradient(); */
  background-color: rgb(44,44,44);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
ul{
  list-style: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
outline: none;
}
/* 
.movie-img {
  padding-left: 20px;
} */
